

<footer>
  <div class="container">
    <div class="footer">
    <p class = "footer-element">© Vampidoo</p>
    </div>
  </div>

<<<<<<< HEAD
</footer> %>
<script>
  var $el = $(".table-responsive");
function anim() {
  var st = $el.scrollTop();
  var sb = $el.prop("scrollHeight")-$el.innerHeight();
  $el.animate({scrollTop: st<sb/2 ? sb : 0}, 3000, anim);
}
function stop(){
  $el.stop();
}
anim();
$el.hover(stop, anim);
</script>
=======
</footer>
>>>>>>> 6dfb5e9ee40bcd6155247cf3739c32bcf92ef988


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<<<<<<< HEAD
<script src="scroll.js" type="text/javascript"></script>
<script>
  var $el = $(".table-responsive");
function anim() {
  var st = $el.scrollTop();
  var sb = $el.prop("scrollHeight")-$el.innerHeight();
  $el.animate({scrollTop: st<sb/2 ? sb : 0}, 4000, anim);
}
function stop(){
  $el.stop();
}
anim();
$el.hover(stop, anim);
</script>
=======
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src = "dashboard.js"></script>
>>>>>>> 6dfb5e9ee40bcd6155247cf3739c32bcf92ef988
</body>
</html>
