<!DOCTYPE html>
<html lang="en">
    <head>
        <title>COVID-19</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-custom">

            <a class="navbar-brand" href="#"> Navbar </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Dashboards</a>
                        <ul class="dropdown-menu">
                            <li class = "dropdown-item">
                              <form class="form-group" action="/dashboard" method="post">
                                <label class="dropdown-label-head" for = "stateName"><!--<a class="dropdown-item" href="/hospitalsStats">--> Hospitals Beds Stats <!--</a>--></label>
                                <input class = "form-control" id="stateName" type="text" name="stateName" placeholder="State Name ">
                                <small id="emailHelp" class="form-text text-muted">See your state's current Hospital Stats</small>
                              </form>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Helpline</a>
                        <ul class="dropdown-menu">
                            <!-- <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                            <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li> -->
                            <li class = "dropdown-item">
                              <form class="form-group" action="/" method="post">
                                <label class="dropdown-label-head" for = "stateName"><!--<a class="dropdown-item" href="/hospitalsStats">--> Emergency Contact Number <!--</a>--></label>
                                <input class = "form-control" id="stateName" type="text" name="stateName" placeholder="State Name ">
                              </form>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item"> <a class="nav-link" href="/notifs">Advisories</a> </li>
                    
                    <li class="nav-item"><a class="mr-3 nav-link" href="https://www.facebook.com/MoHFWIndia" ><i class="fa fa-lg fa-facebook-f"></i></a></li>
                    <li class="nav-item"><a class="mr-3 nav-link" href="https://twitter.com/MoHFW_INDIA"><i class="fa fa-lg fa-twitter"></i></a></li>
                </ul>
            </div> <!-- navbar-collapse.// -->

        </nav>
