<%- include("header") -%>

<div class="container-fluid" id="home-img">
    <div id="home-head">
        <h1 id="home-heading">NAME</h1>
        <p>sdjikfjegkiejg</p>
    </div>
    
</div>

<%- include("footer") -%>
