<%- include("header") -%>

<div class="container-fluid lg-12 justify-content-center align-self-center" id="home-img">
    <div id="home-head" >
        <h1 class="home-heading" >NAME</h1>
        <p class="home-heading">sdjikfjegkiejg</p>
    </div>
    
</div>

<div>
    <div class="row">
         <div class="col-sm-12 col-md-4">
            <p>hiiiiiiiiiii</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>hiiiiiiiiiii</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>hiiiiiiiiiii</p>
        </div>


    </div>
</div>

<%- include("footer") -%>
