/* Colors */
/*
#dbe2ef
#f9f7f7
#3f72af
#112d4e

shadow #8d93ab
*/

body{
	font-family: 'Raleway', sans-serif;
	background-color: #f9f7f7;
}

/* Header */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.navbar-brand{
	font-family: 'Lato', sans-serif;
}
.nav-link{
	font-family: 'Raleway', sans-serif;
	margin: 0 10px 0 10px;
}

#stateName{
	text-align: center;
	border-radius: 15px;
}
.dropdown-item:hover{
	border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
	background-color: #dbe2ef;
}
.form-group:hover{
	background-color: #dbe2ef;
}
.dropdown-menu{
	border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
	background-color: #dbe2ef;
}
.bg-custom{
	background-color: #112d4e;
}


/* Top Section */
#bg{
	background-image: url("images/covid-body.jpg");
	background-size: cover;

	background-repeat: no-repeat;
}
#home-img{
	/* background-color: #3f72af; */
	padding: 0px;
	height: 600px;
	display: block;
	position: relative;
}
#home-head{
	position:absolute;
	margin-top: 20%;
}
.home-heading , .card-link{
	color: #dbe2ef;
}

.container{
	margin: auto;

}
.card{
	background-color: #112d4e;
	position: relative;
	bottom: 60px;
	margin: 10px;
	text-align: center;
	box-shadow: 7px 7px 5px  #8d93ab;
}

.card-title , .card-text{
	color : #f9f7f7;
}
.card-title{
	font-family: 'Lato', sans-serif;
}




/* Footer */
footer{
	padding: 0;
	background-color: #112d4e;
	position: absolute;
	left:0;
	right:0;
}
.footer{
	text-align: center;
	margin: 0;
}
.footer-element{
	color:white;
}


/* Sidebar homepage */

#sidebar{

		height: 500px;

}

.table-responsive{
	height:500px;
	width:100%;
	overflow-y: auto;
	margin-left: 0%;
}

table{
	  width:100%;
}
table::-webkit-scrollbar-thumb
{
    background-color: white;
}

td{
	  padding:24px;
}

/* State Data */
.stateName , .stateData{
	margin-top: 20px;
	text-align: center;
}
.table-responsive{
  overflow:scroll;
	background-color: #dbe2ef;
}
 thead tr:nth-child(1) th{
	 font-family: 'Lato', sans-serif;
    background: #3f72af;
    position: sticky;
    top: 0;
    z-index: 10;
  }

td, .date{
	color:#8d93ab;
	background-color: #dbe2ef;
}
th{
	color:#dbe2ef;
}




/*notifs*/
#notifs{
	margin-top: 30px;
	margin-bottom: 30px;
}


  /* font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif; */
