/* Header */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

#stateName{
	text-align: center;
	border-radius: 15px;
}
.dropdown-item:hover{
	border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
	background-color: #dbe2ef;
}
.form-group:hover{
	background-color: #dbe2ef;
}
.dropdown-menu{
	border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
	background-color: #dbe2ef;
}
.bg-custom{
	background-color: #112d4e;
}


/* Top Section */
#home-img{
	/* background-color: #3f72af; */
	background-image: url("images/covid-body.jpg");
	background-size: cover;

	background-repeat: no-repeat;
	height: 600px;
	display: block;
	position: relative;
}
#home-head{
	position:absolute;
	margin-top: 20%;
}
.home-heading , .card-link{
	color: #dbe2ef;
}

.container{
	margin: auto;

}
.card{
	background-color: #112d4e;
	position: relative;
	bottom: 60px;
	margin: 10px;
	text-align: center;
	box-shadow: 7px 7px 5px  #8d93ab;
}

.card-title , .card-text{
	color : #f9f7f7;

}




/* Footer */
.footer{
	background-color: #112d4e;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer-element{
	color:white;
}
